<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cobra</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='maple.css') }}">
  </head>
  <body>
    <header class="barHead">
      <h1>Cobra</h1>
    </header>
    <section>
      <ul class="list list-a">
        {% for entry in entries %}
        <li>
          <h1><a href='{{ entry.link }}'>{{ entry.title }}</a><date>{{ entry.date }}</date></h1>
          <h2><a href='{{ entry.htmlUrl }}'>{{ entry.feedTitle }}</a></h2>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>