<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cobra</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css'>
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class='container' style="overflow: hidden; white-space: nowrap;">
          <h1>Cobra <small>by <a href="http://github.com/1000ch">1000ch</a></small></h1>
        </div>
      </nav>
    </header>
    <div class='container'>
      <section class='row'>
        <div class="col-md-6">
          <div class="list-group" id="js-entry">
            {% for entry in entries %}
              <a href="{{ entry.link }}" target="_blank" class="list-group-item" data-feed="{{ entry.feedTitle }}">
                <h4 class="list-group-item-heading">{{ entry.title }}</h4>
                <p class="list-group-item-text">
                  <date>{{ entry.date }}</date> - {{ entry.feedTitle }}
                </p>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="affix" role="complementary">
            <ul class="nav nav-pills" id="js-feed">
              {% for feed in feeds %}
                <li data-feed="{{ feed }}"><a href='#'>{{ feed }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'></script>
    <script>
      $(function () {

        var $entry = $('#js-entry');
        var $entries = $entry.find('a');
        var $feed = $('#js-feed');
        var $feeds = $feed.find('li');

        $entry.on('touchstart', 'a', function (e) {
          this.classList.add('active');
        }).on('touchend', 'a', function (e) {
          this.classList.remove('active');
        });

        $feed.on('click', 'li', function (e) {
          this.classList.toggle('active');
          var selected = [];
          $feeds.each(function (index, element) {
            if (element.classList.contains('active')) {
              selected.push(element.getAttribute('data-feed'));
            }
          });
          if (selected.length === 0) {
            $entries.removeClass('hidden');
          } else {
            $entries.each(function (index, element) {
              var name = element.getAttribute('data-feed');
              if (selected.indexOf(name) !== -1) {
                element.classList.remove('hidden');
              } else {
                element.classList.add('hidden');
              }
            });
          }
        });

        var $search = $('#js-search');
        $search.on('keyup', _.throttle(function (e) {
          var value = $search.val();
          $entries.each(function (index, element) {
            var title = element.querySelector('h4').textContent;
            if (title.indexOf(value) !== -1) {
              element.classList.remove('hidden');
            } else {
              element.classList.add('hidden');
            }
          });
        }, 300));
      });
    </script>
  </body>
</html>